{% extends '::base.html.twig' %}

{% block body -%}


    {% if error %}
        <div class="alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <h1>{{ 'security.authentification' | trans }}</h1>

    <form class="form-group" action="{{ path('login_check') }}" method="POST">
        <label for="username">{{ 'security.username' | trans }}</label>
        <input class="form-control" id="username" type="text" name="_username" value="{{ last_username }}" />

        <label for="password">{{ 'security.password' | trans }}</label>
        <input class="form-control" id="password" type="password" name="_password"/>
        <br/>
        <button class="btn btn-primary" type="submit">{{ 'security.login' | trans }} </button>

    </form>

{% endblock %}
